{% extends 'base.html' %}{% load staticfiles %}

{% block title %}Consume{% endblock %}

{% block head %}
    <link href="{% static 'pyqueue/json/s.css' %}" rel="stylesheet">
    <script src="{% static 'pyqueue/json/c.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">

        <div>
            <form name="form-consume" action="" method="post">
                {% csrf_token %}

                {% include "pyqueuer/includes/mq-sel-tab.html" %}
{#                <div id="tabs-mq">#}
{#                    <ul>#}
{#                        <li><a href="#tabs-rabbit">{{ MQTypes.RabbitMQ }}</a></li>#}
{#                        <li><a href="#tabs-kafka">{{ MQTypes.Kafka }}</a></li>#}
{#                    </ul>#}
{#                    <div id="tabs-rabbit">#}
{#                        <table style="width: 95%;">#}
{#                            <tr>#}
{#                                <td colspan="2">#}
{#                                    <p>Specify either "queue" or "topic" + "key".</p>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td><label for="queue">queue:</label></td>#}
{#                                <td><input name="queue" type="text" style="width: 80%;" class="ui-widget-content"#}
{#                                           placeholder="queue name" value="{{ queue }}"></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td><label for="topic">topic:</label></td>#}
{#                                <td><input name="topic" type="text" style="width: 80%;" class="ui-widget-content"#}
{#                                           placeholder="topic name" value="{{ topic }}"></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td><label for="key">key:</label></td>#}
{#                                <td><input name="key" type="text" style="width: 80%;" class="ui-widget-content"#}
{#                                           placeholder="binding key (for topic only)" value="{{ key }}"></td>#}
{#                            </tr>#}
{#                        </table>#}
{#                    </div>#}
{#                    <div id="tabs-kafka">#}
{#                        <p>Kafka is not supported yet.</p>#}
{#                    </div>#}
{#                    <input id="mq" name="mq" type="hidden" value="{{ mq }}">#}
{#                    <input id="mq-idx" name="mq-idx" type="hidden" value="{{ mq_idx }}">#}
{#                </div>#}

                <div style="clear:both"><p></p></div>

                <!-- buttons -->
                <div>
                    <button type="submit">Start a new consumer</button>
                    <button type="reset">Reset</button>
                    <input id="check-save" name="check-save" type="checkbox" /><label for="check-save">Auto save results</label>
                </div>
            </form>
        </div>
        <hr/>

        <div>
            <table><tr>
            {% for svc in services.values %}
            <td width="200px" valign="top"><table  border="1">
                <tr>
                <form name="form-consume" action="" method="post">
                    {% csrf_token %}
                    <td width="0">
                        <input type="hidden" name="sid" value="{{ svc.sid }}" />
                        <button type="submit" title="Close consumer {{ svc.sid }}" name="btn-consume-stop">
                            <i class="ui-icon ui-icon-close"></i>
                        </button>
                    </td>
                    <td width="100%">{{ svc.sid }} {{ svc.name }}</td>
                </form>
                </tr>
                <tr><td colspan="2">
                    <div id="{{ svc.sid }}"></div>
                    <p><a href="/output/?sid={{ svc.sid }}" target="_blank">output</a></p>
                    <script language="JavaScript">
                        setInterval(function(){
                            $.ajax({
                                type: "GET",
                                url: "/output/?sid={{ svc.sid }}",
                                success: function(messages, status, xhr) {
                                    var panel = $("#{{ svc.sid }}");
                                    panel.html("");
                                    $.each(messages, function(idx, val) {
                                        if (typeof val.message == "string")
                                            panel.append('<p>' + val.time.substr(11,12) + ' ' + val.message + '</p>');
                                        else {
                                            var tm = val.time.substr(11,12);
                                            panel.append('<p>' + tm + '</p>');
                                            panel.append('<div id="Canvas{{ svc.sid }}_' + tm + '" class="Canvas"></div>');
                                            ProcessJson(val.message, "Canvas{{ svc.sid }}_" + tm);
                                        }
                                    });
                                },
                                error: function(xhr, status, error) {
                                    $("#{{ svc.sid }}").html('<p style="color:red">' + xhr.status + ' - Consumer error.<br/> Refresh in 3 seconds</p>');
                                    setTimeout(function() {
                                        $( location ).attr("href", "/consume");
                                    }, 3000);
                                }
                            });
                        }, 2000);

                    </script>
                </td></tr>
            </table></td>
            {% endfor %}
            </tr></table>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script language="JavaScript">
    // MQ selection
    $("#tabs-mq").tabs({
        activate: function (event, ui) {
            $("#mq").val(ui.newTab.text());
            $("#mq-idx").val($(this).tabs("option", "active"));
        },
        create: function(event, ui) {
            $("#mq").val("{{ mq }}" || ui.tab.text());
        }
    }).tabs("option", "active", {{ mq_idx | default:0 }});

    $("button").button();
    $("input[type='checkbox']").checkboxradio();
    </script>
{% endblock %}