{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <H2>PyQueuer</H2>
    <p>A convenience tool to automatically produce/consume message to/from Message Queue.</p>
    <div>
        <h3>Usage:</h3>
        <ol>
            <li><a href="{% url 'register' %}">Register</a> your account and <a href="{% url 'login' %}">login</a>.</li>
            <li>Configure your MQ, <b>data_store</b>(path of file messages) in <a href="{% url 'setting' %}">setting</a>. </li>
            <li>Setup your <a href="{% url 'plugin' %}">plugin</a> stacks for convenience access plugins (optional)</li>
            <li>Open <a href="{% url 'consume' %}">consume</a> page to listen to a queue/topic.</li>
            <li>Open <a href="{% url 'send' %}">send</a> page to send a message either in <b>file</b> or <b>data</b></li>
        </ol>
    </div>
    <p>Thanks for using. Enjoy.</p>
{% endblock %}

{% block script %}

{% endblock %}