{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div id="sender" class="sidebar-left container">
        <h3>Section 1</h3>

        <div>
            <p>
                Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
            </p>
        </div>
        <h3>Section 1</h3>

        <div>
            <p>
                Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
            </p>
        </div>
    </div>

    <div id="service" class="content container">
        asdfsdf
        sdfasdf
        sdf
    </div>


    <div id="consumer" , class="sidebar-right container">
        sdflksdjf
        sdf
        sdfsdfljsd
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            $("#sender").accordion();
        });
        $(function () {
            $("#sender").selectable();
        });
    </script>
{% endblock %}