{% extends 'base.html' %}

{% block title %}Send{% endblock %}

{% block head %}
    <style type="text/css">
        ul {
            list-style-type: none;
        }
    </style>
{% endblock %}

{% block content %}

    <form name="form-send" action="" method="post">
        {% csrf_token %}

        <!-- sidebar for selecting or entering message -->
        <div id="tabs-msg" class="container content sidebar-left">
            <h4>Select or Enter Your Message:</h4>
            <ul>
                <li><a href="#tabs-file">File</a></li>
                <li><a href="#tabs-data">Data</a></li>
            </ul>
            <div id="tabs-file">
                <!-- file list from data_store -->
                <div id="accordion-files">
                    {% for name, data in files.items %}
                        <h5 id="code-{{ name }}">{{ name }}</h5>
                        <div>
                            <pre style="height: 150px;">
                                <code>{{ data | linebreaksbr }}</code>
                            </pre>
                        </div>
                    {% endfor %}
                </div>
                <input id="msg-file" name="msg-file" type="hidden" value="{{ msg_file }}"/>
                <input id="msg-file-idx" name="msg-file-idx" type="hidden" value="{{ msg_file_idx }}"/>
            </div>
            <div id="tabs-data">
                <p>Enter your message:</p>
                <textarea id="msg-data" name="msg-data" rows="15" style="width: 100%;"
                          class="ui-widget-content">{{ msg_data }}</textarea>
            </div>
            <input id="msg-source" name="msg-source" type="hidden" value="{{ msg_source }}"/>
            <input id="msg-source-idx" name="msg-source-idx" type="hidden" value="{{ msg_source_idx }}"/>
        </div>


        <div class="container content" xmlns="http://www.w3.org/1999/html">

            {% include "pyqueuer/includes/mq-sel-tab.html" %}
                <!-- MQ selections & configs -->
{#                <div id="tabs-mq">#}
{#                    <ul>#}
{#                        <li><a href="#tabs-rabbit">{{ MQTypes.RabbitMQ }}</a></li>#}
{#                        <li><a href="#tabs-kafka">{{ MQTypes.Kafka }}</a></li>#}
{#                    </ul>#}
{#                    <div id="tabs-rabbit">#}
{#                        <table style="width: 95%;">#}
{#                            <tr>#}
{#                                <td colspan="2">#}
{#                                    <p>Specify either "queue" or "topic" + "key".</p>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td><label for="rabbit_1">queue:</label></td>#}
{#                                <td><input name="rabbit_1" type="text" style="width: 80%;" class="ui-widget-content"#}
{#                                           placeholder="queue name" value="{{ rabbit_1 }}"></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td><label for="rabbit_2">topic:</label></td>#}
{#                                <td><input name="rabbit_2" type="text" style="width: 80%;" class="ui-widget-content"#}
{#                                           placeholder="topic name" value="{{ rabbit_2 }}"></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td><label for="rabbit_3">key:</label></td>#}
{#                                <td><input name="rabbit_3" type="text" style="width: 80%;" class="ui-widget-content"#}
{#                                           placeholder="binding key (for topic only)" value="{{ rabbit_3 }}"></td>#}
{#                            </tr>#}
{#                        </table>#}
{#                    </div>#}
{#                    <div id="tabs-kafka">#}
{#                        <table style="width: 95%;">#}
{#                            <tr>#}
{#                                <td colspan="2">#}
{#                                    <p>Specify "topic".</p>#}
{#                                </td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td><label for="kafka_1">topic:</label></td>#}
{#                                <td><input name="kafka_1" type="text" style="width: 80%;" class="ui-widget-content"#}
{#                                           placeholder="topic name" value="{{ kafka_1 }}"></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td><label for="kafka_2">key (optional):</label></td>#}
{#                                <td><input name="kafka_2" type="text" style="width: 80%;" class="ui-widget-content"#}
{#                                           placeholder="key (for hashed partitioning )" value="{{ kafka_2 }}"></td>#}
{#                            </tr>#}
{#                        </table>#}
{#                    </div>#}
{#                    <input id="mq" name="mq" type="hidden" value="{{ mq }}">#}
{#                    <input id="mq-idx" name="mq-idx" type="hidden" value="{{ mq_idx }}">#}
{#                </div>#}

                <!-- overriding plugins -->
                <div id="tabs-plugin">
                    <h4>Select plugins to override the message ("{{ reversed_stack_name }}" contains all plugins):</h4>
                    <ul>
                        {% for stack, plugin_names in stacks.items %}
                        <li><a href="#tabs-{{ stack }}">{{ stack }}</a></li>
                        {% endfor %}
                    </ul>
                    {% for stack, plugin_names in stacks.items %}
                    <div id="tabs-{{ stack }}">
                        <span style="display: none" id="span-{{ stack }}">{% for p in plugin_names %}{{ p }},{% endfor %}</span>
                        <ul>

                        </ul>
                    </div>
                    {% endfor %}
                    <input type="hidden" id="stack" name="stack" value="{{ stack }}" />
                    <input type="hidden" id="stack-idx" name="stack-idx" value="{{ stack_idx }}" />
                </div>

                <!-- hidden plugin input forms -->
                <ul id="all-plugins" style="display: none">
                {% for category, c_plugins in plugins.items %}
                    {% for name, plugin in c_plugins.items %}
                    <li id="form-{{ plugin.name }}">
                        <label for="chk{{ splitter }}{{ plugin.name }}">{{ plugin.name }}</label>
                        <input type="checkbox" id="chk{{ splitter }}{{ plugin.name }}"
                               name="plugin{{ splitter }}{{ plugin.name }}" class="plugin-sel"
                               {% if plugin.name in checked %}checked="true"{% endif %}>
                        {% if not plugin.plugin_object.is_auto_value %}
                        <input type="text" name="pluginv{{ splitter }}{{ plugin.name }}" value="{{ plugin.value |default:''}}">
                        {% endif %}
                    </li>
                    {% endfor %}
                {% endfor %}
                </ul>

                <div style="clear:both"><p></p></div>

                <!-- buttons -->
                <div>
                    <button type="submit">Send</button>
                    <button type="reset">Reset</button>
                </div>

        </div>

    </form>

{% endblock %}

{% block script %}
<script language="JavaScript">

    var msg_src_idx = 0,
            file_idx = 0,
{#            mq_idx = 0,#}
            stack_idx = 0;

    // list message files in data_store
    $("#accordion-files").accordion({
        activate: function(event, ui) {
            var fname = ui.newHeader.text();
            $("#msg-file").val(fname);
            $("#msg-file-idx").val($(this).accordion("option", "active"));
        },
        create: function (event, ui) {
            $("#msg-file").val("{{ msg_file }}" || ui.header.text());
        }
    }).accordion("option", "active", {{ msg_file_idx | default:0 }});

    // select message source (from file or fill data)
    $("#tabs-msg").tabs({
        activate: function (event, ui) {
            $("#msg-source").val(ui.newTab.text());
            $("#msg-source-idx").val($(this).tabs("option", "active"));
        },
        create: function (event, ui) {
            $("#msg-source").val("{{ msg_source }}" || ui.tab.text());
        }
    }).tabs("option", "active", {{ msg_source_idx | default:0 }});

    // MQ selection
{#    $("#tabs-mq").tabs({#}
{#        activate: function (event, ui) {#}
{#            $("#mq").val(ui.newTab.text());#}
{#            $("#mq-idx").val($(this).tabs("option", "active"));#}
{#        },#}
{#        create: function(event, ui) {#}
{#            $("#mq").val("{{ mq }}" || ui.tab.text());#}
{#        }#}
{#    }).tabs("option", "active", {{ mq_idx | default:0 }});#}

    // plugin stack tabs
    $("#tabs-plugin").tabs({
        activate: function(event, ui) {
            load_plugins(ui.newTab.text());
            $("#stack-idx").val($(this).tabs("option", "active"));
        },
        create: function(event, ui) {
            load_plugins("{{ stack }}" || ui.tab.text());
        }
    }).tabs("option", "active", {{ stack_idx | default:0 }});

    $("#form-send").submit(function(event) {
        alert('haha');
        if (!validate()) {
            alert('You must specify value for checked plugins');
            event.preventDefault();
        }
    });


    $(".plugin-sel").checkboxradio();
    $("button").button();


    // get index of a item in a JQueryUI tabs
    function index_of_tabs(tabs, tab_text) {
        var idx = 0;
        if (tabs && tab_text) {
            $.each(tabs.find("ul").children(), function(i, ele){
                console.log(ele.innerText, tab_text);
                if (ele.innerText == tab_text) {
                    idx = i;
                    return false;
                }
            });
        }
        console.log("index of " + tabs[0].id + " is " + idx + ". (text:" + tab_text + ")");
        return idx;
    }

    // function to display plugin in stack tab
    function load_plugins(stack) {
        $("#stack").val(stack);
        $.each($("#span-"+stack).text().split(","), function(i, obj) {
            if (!obj) return false;
            $("#form-"+obj).appendTo($("#tabs-"+stack).find("ul"));
        });
    }

    // validations
    function validate() {
        {% for plugin in plugins.values %}
        {% if not plugin.plugin_object.is_auto_value %}
        var chk = $("chk{{ splitter }}{{ plugin.name }}");
        console.log(chk);
        console.log(chk.prop("checked"));
        console.log(chk.next());
        if (chk.prop("checked"))
            if (!chk.next().val())
                return false;
        {% endif %}
        {% endfor %}
        return true;
    }

</script>
{% endblock %}