{# Usage: #}
{# use "mq_forms, params = _handle_mq_selection_tabs(request)" in view request handler. #}
{# mq_forms contains all form fields. use "conttext.update(mq_forms)" to use it. you may aslo access it to get post data. #}
{# params contains required paramters. #}

                <!-- MQ Selections & Configs Tabs Start -->
                <div id="tabs-mq">
                    <ul>
                        <li><a href="#tabs-rabbit">{{ MQTypes.RabbitMQ }}</a></li>
                        <li><a href="#tabs-kafka">{{ MQTypes.Kafka }}</a></li>
                    </ul>
                    <div id="tabs-rabbit">
                        <table style="width: 95%;">
                            <tr>
                                <td colspan="2">
                                    <p>Specify either "queue" or "topic" + "key".</p>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="rabbit_queue">queue:</label></td>
                                <td><input name="rabbit_queue" type="text" style="width: 80%;" class="ui-widget-content"
                                           placeholder="queue name" value="{{ rabbit_queue }}"></td>
                            </tr>
                            <tr>
                                <td><label for="rabbit_topic">topic:</label></td>
                                <td><input name="rabbit_topic" type="text" style="width: 80%;" class="ui-widget-content"
                                           placeholder="topic name" value="{{ rabbit_topic }}"></td>
                            </tr>
                            <tr>
                                <td><label for="rabbit_key">key:</label></td>
                                <td><input name="rabbit_key" type="text" style="width: 80%;" class="ui-widget-content"
                                           placeholder="binding key (for topic only)" value="{{ rabbit_key }}"></td>
                            </tr>
                        </table>
                    </div>
                    <div id="tabs-kafka">
                        <table style="width: 95%;">
                            <tr>
                                <td colspan="2">
                                    <p>Specify "topic".</p>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="kafka_topic">topic:</label></td>
                                <td><input name="kafka_topic" type="text" style="width: 80%;" class="ui-widget-content"
                                           placeholder="topic name" value="{{ kafka_topic }}"></td>
                            </tr>
                            <tr>
                                <td><label for="kafka_key">key (optional):</label></td>
                                <td><input name="kafka_key" type="text" style="width: 80%;" class="ui-widget-content"
                                           placeholder="key (for hashed partitioning )" value="{{ kafka_key }}"></td>
                            </tr>
                        </table>
                    </div>
                    <input id="mq" name="mq" type="hidden" value="{{ mq }}">
                    <input id="mq-idx" name="mq-idx" type="hidden" value="{{ mq_idx }}">

                    <!-- Script for MQ Tabs -->
                    <script language="javascript">
                        var mq_idx = {{ mq_idx }};
                        $("#tabs-mq").tabs({
                            activate: function (event, ui) {
                                $("#mq").val(ui.newTab.text());
                                $("#mq-idx").val($(this).tabs("option", "active"));
                            },
                            create: function(event, ui) {
                                $("#mq").val("{{ mq }}" || ui.tab.text());
                            }
                        }).tabs("option", "active", {{ mq_idx | default:0 }});
                    </script>
                </div>
                <!-- MQ Selections & Configs Tabs End-->