
    <script language="JavaScript" type="text/javascript">
{#        var updaters = {};#}
        function get_updater(channel) {
           var updater = {
                socket: null,
                start: function() {
                    updater.socket =  new WebSocket("ws://localhost:8081/" + channel + "/");
                    updater.onmessage = function(event) {
                        $("#" + channel).append('<p>' + event.data + '</p>');
                    };
                }
            };
{#            updaters[channel] = updater;#}
            return updater;
        };
{#        var ws = new WebSocket("ws://localhost:8081/{{ output_channel }}/");#}
{#        ws.onopen = function() {#}
{#            ws.send('{{ output_channel }}');#}
{#        };#}
{#        ws.onmessage = function(event) {#}
{#            $("#output").append('<p>' + event.data + '</p>');#}
{#        };#}
{#        ws.onclose = function(event) {#}
{#            console.log('quit {{ output_channel }}.' +  ws.readyState);#}
{#        };#}

{#        $(window).onunload = function(){#}
{#            $.each(updaters, function (k, v) {#}
{#                v.close();#}
{#            });#}
{#        };#}
    </script>
